* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px 'Work Sans', sans-serif;
    color: #fff;
}
.calculator {
    width: 364px;
    background-color: #000;

    margin: 30px auto 0 auto;
    padding: 30px 20px 25px 20px;
}
.calculator__container {
    height: 100%;
}
.calculator__display {
    min-height: 112.8px;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
}
.calculator__display p {
    font-size: 96px;
    font-weight: 300;
    text-align: right;
    overflow: auto;
}
.calculator__keyboard {
    font-size: 32px;

    display: grid;
    grid-template-columns: repeat(4, 69px);
    grid-gap: 16px;
}
.calculator__keyboard div {
    display: grid;
    grid-gap: 16px;
}
.keyboard__clear {
    grid-area: 1 / 1 / 2 / 4;
    grid-template-columns: repeat(2, 1fr);
}
.keyboard__numbers {
    grid-area: 2 / 1 / 6 / 4;
    grid-template-columns: repeat(3, 69px);
}
.keyboard__operators {
    grid-area: 1 / 4 / 6 / 5;
    grid-template-columns: 69px;
}
.keyboard__operators div {
    background-color: #4B5EFC;
}
.keyboard__button {
    border-radius: 24px;
    background-color: #2E2F38;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center; 
    transform: scale(1.0);
    transition: all 0.1s ease 0s;  

    user-select: none;
}
.keyboard__button-hover:hover {
    opacity: 0.8;
}
.keyboard__button_active {
    transform: scale(0.95) translate(0, 2px);
}
#clear-all-input {
    background-color: #4E505F;
}
.keyboard__numbers div:last-child {
    grid-area: 4 / 1 / 5 / 4;
}

